@charset "utf-8";
/* CSS Document */

.show {
	/*display: flex !important;*/
	bottom: 0 !important;
}

body {
	margin: 0;
	background: #282f37;
	color: white;
}

header {
	color: white;
	background: #182028;
	font-family: 'Nunito Sans', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
}

#nav-title {
	max-width: 1200px;
	margin: auto;
	display: flex;
	height: 3.5rem;
	font-weight: 700; 
}

@media (max-width: 768px) {
	#nav-title {
		justify-content: space-between;
		background: #182028;
	}
}

#nav-icon {
	margin: auto 1rem;
	cursor: pointer;
	display: none;
}

@media (max-width: 768px) {
	#nav-icon {
		display: inline;
	}
}

@media (max-width: 768px) {
	#nav-menu-parent {
		position: absolute;
	}
}

#nav-menu {
	max-width: 1200px;
	margin: auto;
	display: flex;
	height: 3.5rem;
	font-weight: 400;
	font-size: 1rem;
	list-style-type: none;
	padding: 0;
}

@media (max-width: 768px) {
	#nav-menu {
		flex-direction: column;
		width: 100vh;
		height: auto;
		background: #182028;
		position: relative;
		bottom: 10.1rem;
		transition: all 0.4s ease;
		z-index: -1;
	}
}

.nav-item {
	margin: 1rem;
}

.nav-item a {
	color: #aaaaaa;
	text-decoration: none;
	transition: all 0.5s;
	position: relative;
}

.nav-item a::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 0.2rem;
	background: #5fa3e7;
	transition: all 0.2s;
	opacity: 0%;
}

#nav-cur a::after {
	opacity: 100%;
}

.nav-item a:hover {
	color: white;
}

.nav-item a:hover::after {
	opacity: 100%;
}

#wrapper {
	min-height: 100%;
	padding-top: 7rem;
	padding-bottom: 3.5rem;
}

@media (max-width: 768px) {
	#wrapper {
		padding-top: 3.5rem;
	}
}

footer {
	width: 100%;
	height: 3.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #aaaaaa;
	background: #182028;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.fnav-item {
	margin: 1rem;
}

.fnav-item a {
	color: #aaaaaa;
	text-decoration: none;
	transition: all 0.5s;
	position: relative;
}

.fnav-item a:hover {
	color: white;
}

/* Meterial Icons */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }